

html{
    text-align: center;
    color: white;


}





body {
    font-family: Arial, sans-serif;
   
   padding: 2%;
 background-image: url("B.jpg");
}



























*{margin:0;
  padding:0;}
 





.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 50px;
  }
  
  .topnav a {
    float: left;
    color: #32b532;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 19px;
    border-radius: 50px;
  }
  
  .topnav a:hover {
    background-color: #333;
    color: rgb(233, 3, 3);
    
  }
  .topnav a.active {
    background-color: rgb(35, 156, 35);
    color: rgb(33, 33, 33);
   
  }

  .topnav a.active:hover{
    background-color: #db3939;
    color: #333;
   
    
  }








                 .button {
                    padding: 10px 20px;
                    border: none;
                    font-size: 17px;
                    color: #020000;
                    border-radius: 50px;
                    letter-spacing: 4px;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: 0.5s;
                    transition-property: box-shadow;
                    
                  }
                  
                  .button a{

                    color: #020000;
                    text-decoration: none;
                  }



                  .button {
                    background: #0eb832;
                    box-shadow: 0 0 25px rgb(45, 248, 55);
                  }
                  
                  .button:hover {
                    box-shadow: 0 0 5px rgb(72, 168, 28),
                                0 0 25px rgb(72, 168, 28),
                                0 0 50px rgb(072, 168, 28),
                                0 0 100px rgb(72, 168, 28);
                  }



h1{
  width: 10ch;
  font-family: monospace;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 1s steps(100) infinite alternate-reverse;
}


@keyframes typing{
  from{
    width: 90ch;
  }
}




.grid-container {

display: grid;
flex-wrap: wrap;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
gap: 20px;
justify-content: center;

}




.box{
  padding: 15%;
  border-radius: 50px;
  background-color: #2d312e;
  text-align: center;
}

